body {
  background-image: url('possibleWeddingBackground.jpg');
  background-size: cover;
}

.rsvp {
  border: 2px solid #A9DDED;
  background-image: url('possibleWeddingBackground.jpg');
  background-size: cover;
  width: 50vw;
  height: 67vh;
  margin-left: 25%;
  margin-top: 3%;
  border-radius: 10%;
}

.rsvpHead {
  text-align: center;
  font-family: 'Abel', sans-serif;
  font-size: 4vh;
  color: #E5E5E5;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  margin-top: 2%;
}

.rsvpForm {
  display: flex;
  flex-direction: column;
  font-family: 'Abel', sans-serif;
  font-size: 4vh;
}

.rsvpInput {
  width: 70%;
  text-align: center;
  padding: 2%;
  font-size: 2vh;
  margin-bottom: 2%;
  background-color: #E5E5E5;
  margin-left: 15%;
  border: 2px solid #EDDAFA;
}

.childNumber {
  margin-right: 10.5%;
}

.attending {
  display: flex;
  flex-direction: row;
}

button {
  margin-top: 2%;
  width: 30%;
  font-size: 80%;
  padding: 1%;
  background-color: #A9DDED;
  color: black;
  border: 2px solid #EDDAFA;
  margin-left: 35%;
}

label {
  color: #E5E5E5;
  font-weight: bold;
  margin-left: 15%;
  margin-bottom: 0;
}

.images {
  display: flex;
  flex-direction: row;
}

.invite {
  color: white;
}

.bottomNav {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.guestsLink {
  color: white;
  width: 4%;
  border: 2px solid red;
}

.guestsLink:hover {
  color: white;
  text-decoration: underline;
}

.guestsHead {
  color: white;
}

.registry {
  border: 2px solid #A9DDED;
  background-image: url('possibleWeddingBackground.jpg');
  background-size: cover;
  width: 50vw;
  height: 67vh;
  margin-left: 25%;
  margin-top: 3%;
  border-radius: 10%;
}

.registryHead {
  text-align: center;
  font-family: 'Abel', sans-serif;
  font-size: 6vh;
  color: #E5E5E5;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  margin-top: 2%;
}

.cbImage {
  width: 25%;
  margin-left: 4%;
  margin-top: 0;
  margin-bottom: 5%;
}

.tinggly {
  width: 20%;
  margin-left: 12%;
  margin-top: 5%;
}

.amazonImg {
  width: 30%;
  margin-left: 38%;
  margin-bottom: 8%;
}

.rei {
  width: 20%;
  margin-left: 35%;
  margin-bottom: 8%;
}

.zola {
  width: 30%;
  margin-left: 5%;
  margin-top: 2%;
}

.app-header {
  text-align: center;
  height: 150px;
  padding: 0;
  color: #EDDAFA;
}

.header-title {
  font-size: 10vh;
  font-family: 'Great Vibes', cursive;
  margin-bottom: 0;
  margin-top: 1.5%;
}

.date {
  font-size: 5vh;
  font-family: 'Sacramento', cursive;
  margin-top: 0;
  margin-bottom: 4%;
}

.App-intro {
  font-size: large;
}

.nav {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.topNav {
  font-size: 2vh;
  font-family: 'Abel', sans-serif;
  margin-top: 0;
  margin-right: 4%;
  margin-left: 4%;
  text-decoration: underline;
  color: #E5E5E5;
}