html {
  margin: 0;
  background-image: url('possibleWeddingBackground.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.app-header {
  text-align: center;
  padding: 0;
  color: #EDDAFA;
}

.header-title {
  font-size: 300%;
  font-family: 'Great Vibes', cursive;
  margin-bottom: 0;
  margin-top: 4%;
}

.date {
  font-size: 200%;
  font-family: 'Sacramento', cursive;
  margin-top: 0;
  margin-bottom: 4%;
}

.nav {
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.topNav {
  font-size: 150%;
  font-family: 'Abel', sans-serif;
  margin-top: 0;
  margin-right: 4%;
  margin-left: 4%;
  text-decoration: underline;
  color: #E5E5E5;
}

.bottomNav {
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 4%;
}

.home {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 150%;
}

.guestsLink {
  color: black;
  width: 4%;
}

.guestsLink:hover {
  color: white;
  text-decoration: underline;
}

.invite {
  border: 2px solid #A9DDED;
  background-image: url('WeddingInvite.png');
  background-size: 95vw 52vh;
  background-repeat: no-repeat;
  background-position: center;
  width: 95vw;
  height: 52vh;
  margin-left: 0;
  margin-top: 5%;
  border-radius: 10%;
}

.registry {
  border: 2px solid #A9DDED;
  background-color: black;
  margin-top: 6%;
  margin-left: 15%;
  border-radius: 10%;
  width: 70%;
  height: 60vh;
  display: flex;
  flex-direction: column;
}

.registryHead {
  text-align: center;
  font-family: 'Abel', sans-serif;
  font-size: 6vh;
  color: #E5E5E5;
  margin-top: 2%;
}

.cbImage {
  width: 40%;
  display: flex;
  margin-left: 30%;
  margin-top: 0;
}

.amazonImg {
  width: 40%;
  margin-left: 30%;
  margin-top: 8%;
}

.rei {
  width: 40%;
  margin-left: 30%;
}

.zola {
  width: 40%;
  margin-left: 30%;
}

.rsvp {
  border: 2px solid #A9DDED;
  background-color: black;
  background-position: center;
  width: 70%;
  margin-top: 6%;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  border-radius: 10%;
}

.rsvpHead {
  text-align: center;
  font-family: 'Abel', sans-serif;
  font-size: 145%;
  color: #E5E5E5;
}

.rsvpForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Abel', sans-serif;
  font-size: 120%;
}

.rsvpInput {
  width: 70%;
  text-align: center;
  padding: 4%;
  font-size: 70%;
  margin-bottom: 2%;
  background-color: #E5E5E5;
  margin-left: 10%;
  border: 2px solid #EDDAFA;
}

.childNumber {
  margin-right: 10.5%;
  font-size: 70%;
}

.adultNumber {
  font-size: 70%;
}

button {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 50%;
  font-size: 80%;
  padding: 2%;
  background-color: #A9DDED;
  color: black;
  border: 2px solid #EDDAFA;
  margin-left: 25%;
}

label {
  color: #E5E5E5;
  font-weight: bold;
  margin-left: 15%;
  margin-bottom: 0;
}

/* Desktop /*

/* .invite {
  border: 2px solid #A9DDED;
  background-image: url('WeddingInvite.png');
  background-size: 50vw 67vh;
  background-repeat: no-repeat;
  width: 50vw;
  height: 67vh;
  margin-left: 25%;
  margin-top: 1.5%;
  border-radius: 10%;
}

.rsvp {
  border: 2px solid #A9DDED;
  background-image: url('possibleWeddingBackground.jpg');
  background-size: cover;
  width: 50vw;
  height: 67vh;
  margin-left: 25%;
  margin-top: 3%;
  border-radius: 10%;
}

.rsvpHead {
  text-align: center;
  font-family: 'Abel', sans-serif;
  font-size: 4vh;
  color: #E5E5E5;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  margin-top: 2%;
}

.rsvpForm {
  display: flex;
  flex-direction: column;
  font-family: 'Abel', sans-serif;
  font-size: 4vh;
}

.rsvpInput {
  width: 70%;
  text-align: center;
  padding: 2%;
  font-size: 2vh;
  margin-bottom: 2%;
  background-color: #E5E5E5;
  margin-left: 15%;
  border: 2px solid #EDDAFA;
}

.childNumber {
  margin-right: 10.5%;
}

.attending {
  display: flex;
  flex-direction: row;
}

button {
  margin-top: 2%;
  width: 30%;
  font-size: 80%;
  padding: 1%;
  background-color: #A9DDED;
  color: black;
  border: 2px solid #EDDAFA;
  margin-left: 35%;
}

label {
  color: #E5E5E5;
  font-weight: bold;
  margin-left: 15%;
  margin-bottom: 0;
}

.invite {
  color: white;
}

.home {
  display: flex;
  justify-content: center;
  height: 74vh;
  align-items: flex-end;
  margin-top: .5%;
}

.guests {
  background-color: black;
  width: 50vw;
  height: 67vh;
  border: 2px solid #A9DDED;
  border-radius: 10%;
  margin-bottom: .5%;
}

.guestsHead {
  color: white;
  text-align: center;
}

.bottom-nav {
  display: flex;
  justify-content: center;
  align-content: flex-end;
}

.bottomNav {
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 4%;
}

.guestsLink {
  color: black;
  width: 4%;
}

.guestsLink:hover {
  color: white;
  text-decoration: underline;
}

.registry {
  border: 2px solid #A9DDED;
  background-image: url('possibleWeddingBackground.jpg');
  background-size: cover;
  width: 54vw;
  height: 67vh;
  margin-left: 25%;
  margin-top: 3%;
  border-radius: 10%;
}

.registryHead {
  text-align: center;
  font-family: 'Abel', sans-serif;
  font-size: 6vh;
  color: #E5E5E5;
  margin-top: 2%;
}

.cbImage {
  width: 25%;
  margin-left: 4%;
  margin-top: 0;
  margin-bottom: 5%;
}

.amazonImg {
  width: 25%;
  margin-left: 42%;
  margin-bottom: 8%;
}

.rei {
  width: 20%;
  margin-left: 40%;
  margin-bottom: 8%;
}

.zola {
  width: 25%;
  margin-left: 5%;
  margin-top: 2%;
}

.app-header {
  text-align: center;
  height: 150px;
  padding: 0;
  color: #EDDAFA;
}

.header-title {
  font-size: 10vh;
  font-family: 'Great Vibes', cursive;
  margin-bottom: 0;
  margin-top: 1.5%;
}

.date {
  font-size: 5vh;
  font-family: 'Sacramento', cursive;
  margin-top: 0;
  margin-bottom: 4%;
}

.nav {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.topNav {
  font-size: 2vh;
  font-family: 'Abel', sans-serif;
  margin-top: 0;
  margin-right: 4%;
  margin-left: 4%;
  text-decoration: underline;
  color: #E5E5E5;
} */